<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">

			<ul class="mainnav">
			
				<li class="{principal-active}" >
					<a href="{principal}">
						<i class="icon-dashboard"></i>
						<span>Principal</span>
					</a>	    				
				</li>
				                
                <li class="{ventas-active}">					
					<a href="{ventas}">
						<i class="icon-briefcase"></i>
						<span>Ventas</span>
					</a>  									
				</li>
                
                <li class="{ticket-active}">					
					<a href="{ticket}">
						<i class="icon-barcode"></i>
						<span>Tickets</span>
					</a>  									
				</li>
			
			</ul>

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
    