<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">

			<ul class="mainnav">
			
				<li class="{principal-active}" >
					<a href="{principal}">
						<i class="icon-dashboard"></i>
						<span>Principal</span>
					</a>	    				
				</li>
				
				
				<li class="{usuarios-active}">
					<a href="{usuarios}">
						<i class="icon-user"></i>
						<span>Usuarios</span>
					</a>    				
				</li>

				<li class="{reportes-active}">
					<a href="{reportes}">
						<i class="icon-list-alt"></i>
						<span>Reportes</span>
					</a>    				
				</li>
				
				<li class="{productos-active}">					
					<a href="{productos}">
						<i class="icon-th-large"></i>
						<span>Productos</span>
					</a>  									
				</li>
                
                
                <li class="{ventas-active}">					
					<a href="{ventas}">
						<i class="icon-briefcase"></i>
						<span>Ventas</span>
					</a>  									
				</li>
                
                
                <li class="{ticket-active}">					
					<a href="{ticket}">
						<i class="icon-barcode"></i>
						<span>Tickets</span>
					</a>  									
				</li>
					
			</ul>

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
    