<div class="row">
    <div class="span12">
      <div class="widget">
      <div class="widget-header">
        <i class=" icon-money "></i>
        <h3>{titulo}</h3>
      </div> <!-- /widget-header -->
      
      <div class="widget-content">
      <!--==============================================
      =            Cntenido de manipulacion            =
      ===============================================-->
        <div class="messages">
          {message}
        </div>
        <form  class="form-horizontal">
          <div class="control-group">                     
            <label class="control-label"><strong>{url-dir}</strong></label>
              <div class="controls">
      <!--==============================================
      =           Listado de producto                  =
      ===============================================-->
              <!--ListadoProducto-->
                <table class="table table-striped table-bordered" id="table" style="display:none;">
                        <thead>
                          <tr>
                            <th> FOLIO</th>
                            <th> vendedor</th>
                            <th> pago</th>
                            <th> precio</th>
                            <th> operaciones</th>
                          </tr>
                        </thead>
                        <tfoot>
                        <tr>
                          <td colspan="3">
                          <strong>TOTAL DIA:  </strong>
                          </td>
                          <td colspan="2">
                          <strong class="input-prepend input-append"><span class="add-on">$</span><input type="text" id="total" value="0" class="span1" name = "total_cart" disabled/> Pesos M/N</strong>
                          </td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <!--listProd-->
                          <tr>
                            <td><strong>{folio}</strong> </td>
                            <td> {vendedor}</td>
                            <td> {pago}</td>
                            <td> $ {precio} pesos <input type="hidden" value="{precio}" class="importe_linea"></td>
                            <td><a href="{verfolio}{folio}">Listar venta</a></td>
                          </tr>
                         <!--listProd-->
                        </tbody>
                      </table>
       <!--=== /Listado de producto ====-->
            </div>  <!-- /controls -->      
         </div>
      </form>
      <!--====  End of Cntenido de manipulacion  ====-->
    </div> <!-- /widget-content -->
  </div> <!-- /widget --> 
</div> <!-- /spa12 -->
</div> <!-- /row -->
{script}


